<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>AI Tool</title>
	<meta name="id" content="{{ id }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/smartwizard@4.4.1/dist/js/jquery.smartWizard.min.js" integrity="sha256-uSROG3lBu3YW4HUkG1YPq1wvjHsBDmc2pf9UQ73XxbA=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smartwizard@4.4.1/dist/css/smart_wizard_theme_arrows.min.css" integrity="sha256-ZTabZVgreT+WXpBPSbXKaS3QbQtW8yZz/cCsQWAgeyw=" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='process.css') }}">
</head>

<body class="bg-light">
	<!-- Start NAV BAR -->
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
		<a class="navbar-brand" href="#"><i class="fas fa-brain"></i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<div class="btn-group">
				<button type="button" class="btn btn-transparent" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user text-white"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right">
					<h6 class="dropdown-header">Welcome {{sess.username}}</h6>
					<h6 class="dropdown-header">Api Key: {{sess.key}}</h6>
					<div class="dropdown-divider"></div>
					<a href="{{url_for('AUTH.logout')}}" class="dropdown-item" type="button">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- End NAV BAR -->
	<div class="container-fluid">
		<div class="row justify-content-center pt-3">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<div class="mb-4 border-bottom">
					<h1>{{name}}</h1>
				</div> 
				<div class="row">
					<div class="col"> 
						<div id="smartwizard">
							<ul>
								<li><a href="#step-1">Upload Image<br/><small>Upload image to server</small></a></li>
								<li><a href="#step-2">Dataset<br/><small>Download or Make dataset</small></a></li>
								<li><a href="#step-3">Training<br/><small>Training or Download model</small></a></li>
								<li><a href="#step-4">Model<br/><small>How to use model</small></a></li>
							</ul>

							<div>
								<div id="step-1">
									<div class="m-3">
										<h3 class="semi-bold">Upload Image</h3>								
										<input class="file-upload-input" type='file' onchange="readURL(this);" webkitdirectory directory multiple/>	
										<button type="button" class="btn btn-outline-success mt-2" onclick="$('.file-upload-input').trigger( 'click' )" id="newfile">New File</button>
										<button type="button" class="btn btn-outline-warning mt-2" id="renameTree">Rename Class</button>
										<button type="button" class="btn btn-outline-danger mt-2" id="delTree">Delete File</button>
										<button type="button" class="btn btn-outline-info mt-2" id="upload">Start Upload</button>
										<div class="form-inline float-right mt-2 mr-sm-2">
											<input class="form-control" type="search" placeholder="Search" id="plugins4_q">
											<button class="btn btn-outline-danger" id="clr">Clear</button>
										</div>
										<div class="row pt-3">
											<div class="col-12 col-sm-6 col-md-8"><div id="jstree_demo_div"></div></div>
											<div class="col-6 col-md-4 px-0 text-center">
												<img id="preview" style="max-width:180%;" class="img-thumbnail img-fluid sticky" src="https://picsum.photos/500/300">
											</div>
										</div>
									</div>
								</div>
								<div id="step-2">
									<div class="m-3">
										<h3 class="semi-bold">Dataset</h3>
										<div class="dataset">
											<div class="card">
												<ul class="list-group list-group-flush">
													<li class="list-group-item">Last Update <h4>{{ proj.proj_datasetDate }}</h4></li>
													<li class="list-group-item">Image <h4>{{ proj.proj_datasetImage }}</h4></li>
												</ul>
											</div>
											<div class="row pt-3">
												<div class="col">
													<button type="button" class="btn btn-primary" id="newData">Create Dataset</button>
													<a type="button" class="btn btn-primary" href="{{url_for('DATASET.download',id=id)}}">Download Dataset</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="step-3">
									<div class="m-3">
										<h3 class="semi-bold">Training</h3>
										<div class="training">
											<div class="card">
												<ul class="list-group list-group-flush">
													<li class="list-group-item">Last Update <h4>1/1/2020</h4></li>
												</ul>
											</div>
											<div class="row pt-3">
												<div class="col">
													<button type="button" class="btn btn-primary" disabled>Start Training</button>
													<button type="button" class="btn btn-primary" disabled>Download Model</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="step-4">
									<div class="m-3">
										<h3 class="semi-bold">Model</h3>
										<div class="training">
											<div class="card">
												<ul class="list-group list-group-flush">
													<li class="list-group-item">URL <h4>/api/public/model/{{id}}/predict</h4></li>
													<li class="list-group-item">POST Data <h4>file=Image File</h4></li>
													<li class="list-group-item">Header <h4>apikey={{sess.key}}</h4></li>
													<li class="list-group-item">Respond <h4>JSON</h4></li>																									
												</ul>
											</div>										
										</div>
									</div>
								</div>
							</div>
						</div>   
				    </div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#smartwizard').smartWizard({theme: 'arrows',anchorSettings: {enableAllAnchors: true}});
	});

	$('#upload').click(function(){
		if($(this).text() == "Start Upload"){
			$(this).text("Stop Upload")
			$("#newfile").prop('disabled', true);
			startUpload()
		}else{
			$(this).text("Start Upload")
			$("#newfile").prop('disabled', false);
		}
		
	});

	async function startUpload(){
		var node_info = $('#jstree_demo_div').jstree("get_node","root")["children_d"];
		for(let i of node_info){
			let node = $('#jstree_demo_div').jstree("get_node",i);
			if(node["parent"] == "root"){
				continue;				
			}
			if($("#upload").text() == "Start Upload"){
				break;
			}
			if(node["type"] != "checked"){
				var fd = new FormData();
				fd.append('id',  $('meta[name=id]').attr("content")); 
				fd.append('class', node["parent"]); 
				fd.append('file', node["original"]["file"]);
				try {
					await $.ajax({ 
						url: '{{url_for("IMAGE.upload")}}', 
						type: 'POST', 
						data: fd, 
						contentType: false, 
						processData: false, 
						success: function(response,status){ 
							if(response != 0){ 
								$('#jstree_demo_div').jstree(true).set_type(i, 'checked');
							}else{ 
								console.log("File not upload"); 
							}
						}
					});
				} catch (error) {
					console.log(error["responseJSON"]["message"]);
				}
			}
		}
		$("#upload").text("Start Upload")
		$("#newfile").prop('disabled', false);
	}
	
	function CheckClass(elem, parent = "root") {
		var node_info = $('#jstree_demo_div').jstree("get_node",parent)["children_d"];		
		if(node_info.indexOf(elem) >= 0){
			return true
		}else{
			return false
		}
	}

	function readURL(input) {
		var ref = $('#jstree_demo_div').jstree(true),sel = "root";			
		
		for(let file of input["files"]) {
			let path = file["webkitRelativePath"].split("/")
			console.log(path);
			if(!CheckClass(path[path.length-2])){
				ref.create_node(sel, {'text' : path[path.length-2],"nodeType": "Class","id": path[path.length-2],'children' : []} );
			}				
			var childNode = { type: "unchecked", nodeType:"file",id:file["name"],text: file["name"], file: file };
			$('#jstree_demo_div').jstree(true).create_node( path[path.length-2], childNode , "last");
			$("#jstree_demo_div").jstree('open_node', path[path.length-2]);
		}
	}

$(document).ready(function(){
    $('#jstree_demo_div').jstree({
		'core' : {
			"check_callback": function (op, node, par, pos, more) {
				if(more && more.dnd && (op === 'move_node' || op === 'copy_node')) {
					if(par["id"] != "#" && par["parent"] != "#"){
						return true;
					}
					return false;
				}
				return true;
			},
			"themes" : {
				"responsive": true
			},
			'data' : [		   
				{
					'text' : 'Class',
					"nodeType": "root",
					"id": "root",
					'state' : {
						'opened' : true,
						'disabled' : true
					},
					'children' : []
				}
			]
		},
		"types" : {
			"checked" : {
				"icon" : "far fa-check-circle text-success",
				"valid_children" : []
			},
			"unchecked" : {
				"icon" : "far fa-times-circle text-danger",
				"valid_children" : []
			},
			"upload" : {
				"icon" : "fas fa-file-upload text-info",
				"valid_children" : []
			}
		},
		"checkbox": {       
			whole_node : false,
			tie_selection : false
		},
		"plugins" : [ "wholerow", "dnd", "types", "search", "sort" ]
	});
});
$('#jstree_demo_div').on('move_node.jstree', function (e, data) {
	let oldparent = $('#jstree_demo_div').jstree(true).get_node(data["old_parent"])["original"];
	let parent = $('#jstree_demo_div').jstree(true).get_node(data["parent"])["original"];
	let image = data["node"]["original"];
	$("#jstree_demo_div").jstree('open_node', data["parent"]);
    console.log("Old Parent");
	console.log(oldparent);
	console.log("Parent");
	console.log(parent);	
	console.log("Image");
	console.log(image);
});
$('#jstree_demo_div').on('select_node.jstree', function (e, data) {
	let orginal = data["node"]["original"]
	var reader = new FileReader();

	reader.onload = function (e) {
		$('#preview').attr('src', e.target.result);
	};
	
	console.log(orginal);
	if(orginal["nodeType"] == "file"){
		reader.readAsDataURL(orginal["file"]);
		$('#jstree_demo_div').jstree(true).select_node([orginal["id"]]);
	}	
});
$('#plugins4_q').keyup(function () {
	var to = false;
	if(to) { clearTimeout(to); }
	to = setTimeout(function () {
		var v = $('#plugins4_q').val();
		$('#jstree_demo_div').jstree(true).search(v);
	}, 250);
});
$('#clr').click(function () {
	$('#jstree_demo_div').jstree(true).search("");
	$("#plugins4_q").val("");
});
$('#renameTree').click(function () {
	var ref = $('#jstree_demo_div').jstree(true);
	var sel = ref.get_selected();		
	if(!sel.length) { return false; }
	sel = sel[0];	
	let node = ref.get_node(sel)["original"];	
	if(node["nodeType"] == "Class"){
		ref.edit(sel);
	}
	
});
$('#delTree').click(function () {
	var ref = $('#jstree_demo_div').jstree(true);
	var sels = ref.get_selected();		
	if(!sels.length) { return false; }
	for(let sel of sels){
		let node = ref.get_node(sel)["original"];	
		if(node["nodeType"] == "file"){
			ref.delete_node(sel);
		}
	}
});
$("#newData").click(function(){
	$.ajax({ 
		url: '{{url_for('DATASET.new',id=id)}}', 
		type: 'GET',
		success: function(response,status){ 
			console.log(response)
			if(response["result"] == 'Success'){ 
				Swal.fire({
					icon: 'success',
					title: 'Success',
					text: 'Create Dataset Success',
				})
			}else{ 
				Swal.fire({
					icon: 'error',
					title: 'Fail',
					text: 'Create Dataset Fail',
				})
			}
		}
	});
})
</script>
</html>